@model Boye.ModelViews.ItemVM
@{
    ViewData["Title"] = "Item";
}

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>New Item</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->
<!--================login_part Area =================-->
<section class="login_part section_padding ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text itemBgImg text-center">
                    <div class="login_part_text_iner">
                        <h2>Happy Sales Day!</h2>
                        <p>
                            Making the next big sales starts with letting customers
                            know their choices are available. Keep Store Updated.
                        </p>
                        <a asp-action="Items" asp-controller="Manage" class="btn_3">Shop Items</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <span class="col-md-12 text-success">@ViewBag.Success</span>
                        <h3 class="col-md-12">
                            Add New Item
                        </h3>
                        @using (Html.BeginForm("Item", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="name" name="Item.Name" value="" required
                                       placeholder="Item Name">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="name" name="Item.Desc" value="" required
                                       placeholder="Item Description">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <div class="text-muted">Select Item Category</div>
                                <select name="Item.CatID" required>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.ID">@category.Name</option>
                                    }
                                </select>
                                
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="number" class="form-control" id="name" name="Item.Price" value="" required
                                       placeholder="Item Price">
                            </div>
                            <div class="col-md-12 form-group p_star" style="background-color:#f5f5f5; padding-top:1em; padding-bottom:1em;">
                                <span>Show Item On HomePage?</span>
                                <hr>
                                <select name="CategMapping" required>
                                    <option value="0">Do Not Show On HomePage</option>
                                    <option value="1">Show On Home Page: New Arrivals</option>
                                    <option value="2">Show On Home Page: Popular Items</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="file" class="form-control" id="name" name="image" required >
                            </div>
                            <div class="col-md-12 form-group">
                                @*   <div class="creat_account d-flex align-items-center">
                            <input type="checkbox" id="f-option" name="selector">
                            <label for="f-option">Remember me</label>
                            </div>*@
                                <button type="submit" value="submit" class="btn_3">
                                   <i class="ti-save"></i> Post Item
                                </button>
                                @*    <a class="lost_pass" href="#">forget password?</a>*@
                            </div>
                            <div class="col-md-12 text-danger">@ViewBag.Danger</div>
                            <div class="col-md-12">
                                <a class="link-primary" asp-action="Index">Dashboard</a> |
                                <a class="link-primary" asp-action="Category">New Category</a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->
